
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */